<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {{ leogout_seo() }}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body {% if is_page('home') %} class="home" {% endif %}>
        {# <div class="vector-bg">
            {% if is_page('home') %}
                <img {{ img_attrs(preload(asset('build/img/home/banner_bg_top_tshirt.png'), {as: 'image'})) }} class="top-bg home-top-bg" alt="">
                <img
            {{ img_attrs(asset('build/img/home/banner_bg_bottom_wide.png')) }} class="bot-bg home-bot-bg" alt="">
                {% else %}
                <img {{ img_attrs(asset('build/img/blog-post-typhography/header_bg.png')) }} class="top-bg home-top-bg" alt="">
                <img {{ img_attrs(asset('build/img/blog-post-typhography/footer_bg.png')) }} class="bot-bg home-bot-bg" alt="">
            {% endif %}
        </div> #}
        {% include 'inc/header.html.twig' %}
        <main class="site-main">
            {% block body %}{% endblock %}
        </main>
        {% include 'inc/footer.html.twig' %}
        {% include 'inc/tracker.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
