{% extends "base.html.twig" %}
{% block body %}
	<div class="banner">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<h3 class="section-title">
						We Create
						<strong class="text-primary">
							Digital Experience
						</strong>
						For
						<strong class="text-primary">
							Businesses
						</strong>
					</h3>
					<p>
						We build software that succeeds. Carefully crafted solution to analyze and optimize business output, making sure every angle is covered.
					</p>
					<a class="btn btn-primary text-white">Let us help you succeed</a>
				</div>
				<div class="col-md-6">
					<img {{ img_attrs(asset('build/img/home/banner_right.svg')) }} class="img-fluid" alt="images here"></div>
			</div>
		</div>
	</div>

	<!-- Service -->
	<div class="service">
		<div class="container">
			<div class="row row-cols-1 row-cols-md-3 g-4 service-card-wrap" data-masonry='{"percentPosition": true }'>
				<div class="col">
					<div class="card text-center">
						<div class="icon-wrap mx-auto mb-4">
							<i class="fas fa-gem text-white mb-3"></i>
						</div>
						<h6>Software Solution</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam netus sit nec quis proin. Mauris, ultrices mi semper pellentesque ridiculus habitant.</p>
					</div>
				</div>

				<div class="col mt-5">
					<div class="card text-center">
						<div class="icon-wrap mx-auto mb-4">
							<i class="fas fa-gem text-white mb-3"></i>
						</div>
						<h6>Analytical Solution</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam netus sit nec quis proin. Mauris, ultrices mi semper pellentesque ridiculus habitant.</p>
					</div>
				</div>

				<div class="col">
					<div class="card text-center">
						<div class="icon-wrap mx-auto mb-4">
							<i class="fas fa-gem text-white mb-3"></i>
						</div>
						<h6>UI / UX Design</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam netus sit nec quis proin. Mauris, ultrices mi semper pellentesque ridiculus habitant.</p>
					</div>
				</div>

				<div class="col">
					<div class="card text-center">
						<div class="icon-wrap mx-auto mb-4">
							<i class="fas fa-gem text-white mb-3"></i>
						</div>
						<h6>Mobile Application</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam netus sit nec quis proin. Mauris, ultrices mi semper pellentesque ridiculus habitant.</p>
					</div>
				</div>

				<div class="col mt-5">
					<div class="card text-center">
						<div class="icon-wrap mx-auto mb-4">
							<i class="fas fa-gem text-white mb-3"></i>
						</div>
						<h6>Market Analysis</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam netus sit nec quis proin. Mauris, ultrices mi semper pellentesque ridiculus habitant.</p>
					</div>
				</div>

				<div class="col">
					<div class="card text-center">
						<div class="icon-wrap mx-auto mb-4">
							<i class="fas fa-gem text-white mb-3"></i>
						</div>
						<h6>Web Development</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam netus sit nec quis proin. Mauris, ultrices mi semper pellentesque ridiculus habitant.</p>
					</div>
				</div>

				<div class="col">
					<div class="card text-center">
						<div class="icon-wrap mx-auto mb-4">
							<i class="fas fa-gem text-white mb-3"></i>
						</div>
						<h6>Consultancy</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam netus sit nec quis proin. Mauris, ultrices mi semper pellentesque ridiculus habitant.</p>
					</div>
				</div>

				<div class="col mt-5">
					<div class="card text-center">
						<div class="icon-wrap mx-auto mb-4">
							<i class="fas fa-gem text-white mb-3"></i>
						</div>
						<h6>Social Media</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam netus sit nec quis proin. Mauris, ultrices mi semper pellentesque ridiculus habitant.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Help business -->
	<div class="help-business">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img {{ img_attrs(asset('build/img/home/help_business_left_img.svg')) }} class="img-fluid" alt="images here">
				</div>
				<div class="col-md-6">
					<h3 class="section-title">We Help Businesses Regardless of
						<strong class="text-primary">SIZE</strong>
					</h3>
					<p>We cater to every business,
						<span class="text-primary">Small - Medium - Big</span><br/>Enterprise.</p>

					<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
						<div class="col">
							<div class="bg-white text-center py-4 rounded-2 content-box">
								<h6 class="mb-0">450+</h6>
								<p class="text-uppercase mb-0">Happy Clients</p>
							</div>
						</div>

						<div class="col">
							<div class="bg-white text-center py-4 rounded-2 content-box">
								<h6 class="mb-0">450+</h6>
								<p class="text-uppercase mb-0">Happy Clients</p>
							</div>
						</div>

						<div class="col">
							<div class="bg-white text-center py-4 rounded-2 content-box">
								<h6 class="mb-0">450+</h6>
								<p class="text-uppercase mb-0">Happy Clients</p>
							</div>
						</div>
					</div>

					<a class="btn btn-outline-secondary">More About Us
						<i class="fas fa-chevron-right ms-3"></i>
					</a>
				</div>
			</div>
		</div>
	</div>


	<!-- Why Choose Us -->
	<div class="why-choose">
		<div class="vector-img">
			<img {{ img_attrs(asset('build/img/home/bubble.svg')) }} class="img-fluid" alt="images here">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 mb-5">
					<h3 class="section-title">Why You Should Choose
						<strong class="text-primary">Macroman?</strong>
					</h3>
					<p>You are one step away to bring your dream ideas to reality. We are here to help you to build software.</p>
				</div>
			</div>

			<div class="row mb-5">
				<div class="col-md-4">
					<i class="fas fa-gem text-primary mb-2"></i>
					<h6>Friendly Interface</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam netus</p>
				</div>

				<div class="col-md-4">
					<i class="fas fa-gem text-primary mb-2"></i>
					<h6>Quality Product</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam netus</p>
				</div>

				<div class="col-md-4">
					<i class="fas fa-gem text-primary mb-2"></i>
					<h6>Great Price</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam netus</p>
				</div>
			</div>

			<a href="/" class="btn btn-outline-secondary">Let's Start Planning Togather</a>
		</div>
	</div>

	<!-- our work -->
	<div class="our-work">
		<div class="container text-center">
			<h3 class="section-title">Some of Our<br/>
				<strong class="text-primary">Finest Work</strong>
				Here</h3>
			<img {{ img_attrs(asset('build/img/home/finest_work.svg')) }} class="img-fluid" alt="images here">
			<a href="/" class="btn btn-outline-secondary">Discover all Works</a>
		</div>
	</div>

	<!-- Our Clients -->
	<div class="our-clients">
		<div class="container">
			<div class="d-flex justify-content-between align-items-center our-clients-wrap bg-secondary">
				<h3 class="text-white section-title">Our Most Trusted Clients</h3>

				<ul class="list-inline logos">
					<li class="list-inline-item">
						<a href="/" class="logo"><img {{ img_attrs(asset('build/img/home/logo_shopify.svg')) }} class="img-fluid" alt="images here"></a>
					</li>
					<li class="list-inline-item">
						<a href="/" class="logo"><img {{ img_attrs(asset('build/img/home/logo_swiftkey.svg')) }} class="img-fluid" alt="images here"></a>
					</li>
					<li class="list-inline-item">
						<a href="/" class="logo"><img {{ img_attrs(asset('build/img/home/logo_embraer.svg')) }} class="img-fluid" alt="images here"></a>
					</li>
					<li class="list-inline-item">
						<a href="/" class="logo"><img {{ img_attrs(asset('build/img/home/logo_airbnb.svg')) }} class="img-fluid" alt="images here"></a>
					</li>
					<li class="list-inline-item">
						<a href="/" class="logo"><img {{ img_attrs(asset('build/img/home/logo_sprint.svg')) }} class="img-fluid" alt="images here"></a>
					</li>
					<li class="list-inline-item">
						<a href="/" class="logo"><img {{ img_attrs(asset('build/img/home/logo_vuforia.svg')) }} class="img-fluid" alt="images here"></a>
					</li>
				</ul>

			</div>
		</div>
	</div>

	<!-- praises -->
	<div class="what-clients-saying">
		<div class="container">
			<div class="row">
				<div class="col-md-6 pt-5">
					<h3 class="section-title">See What
						<strong class="text-primary">Clients</strong>
						Are Saying</h3>
					<p class="mb-5">You are one step away to bring your dream ideas to reality. We are here to help you to build software.</p>
					<a href="/" class="btn btn-outline-secondary">See More
						<i class="fas fa-chevron-right ms-3"></i>
					</a>
				</div>
				<div class="col-md-6">


					<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><img {{ img_attrs(asset('build/img/home/client_img_1.svg')) }} class="img-fluid" alt="images here"></button>
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"><img {{ img_attrs(asset('build/img/home/client_img_2.svg')) }} class="img-fluid" alt="images here"></button>
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"><img {{ img_attrs(asset('build/img/home/client_img_3.svg')) }} class="img-fluid" alt="images here"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="card text-center border-0 rounded-3">
									<div class="avatar mb-2">
										<img {{ img_attrs(asset('build/img/home/client_img_1.svg')) }} class="img-fluid" alt="images here">
									</div>
									<p class="text-primary text-uppercase fw-bolder mb-0">Cristina Holmes</p>
									<p><small class="text-uppercase">CEO / Founder</small></p>
									<blockquote class="blockquote mb-0">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh rhoncus velit quam ac ac. Sit in vitae eu donec. In purus pharetra nec faucibus facilisis nulla.
									</blockquote>
								</div>
							</div>

							<div class="carousel-item">
								<div class="card text-center border-0 rounded-3">
									<div class="avatar mb-2">
										<img {{ img_attrs(asset('build/img/home/client_img_2.svg')) }} class="img-fluid" alt="images here">
									</div>
									<p class="text-primary text-uppercase fw-bolder mb-0">Cristina Holmes</p>
									<p><small class="text-uppercase">CEO / Founder</small></p>
									<blockquote class="blockquote mb-0">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh rhoncus velit quam ac ac. Sit in vitae eu donec. In purus pharetra nec faucibus facilisis nulla.
									</blockquote>
								</div>
							</div>

              <div class="carousel-item">
								<div class="card text-center border-0 rounded-3">
									<div class="avatar mb-2">
										<img {{ img_attrs(asset('build/img/home/client_img_3.svg')) }} class="img-fluid" alt="images here">
									</div>
									<p class="text-primary text-uppercase fw-bolder mb-0">Cristina Holmes</p>
									<p><small class="text-uppercase">CEO / Founder</small></p>
									<blockquote class="blockquote mb-0">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh rhoncus velit quam ac ac. Sit in vitae eu donec. In purus pharetra nec faucibus facilisis nulla.
									</blockquote>
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
