{% extends "base.html.twig" %}
{% block body %}
<div id="carouselMcm" class="carousel slide carousel-fade d-md-none d-sm-none d-none d-lg-block" data-ride="carousel" data-pause="false" data-interval="3000">
	<div class="carousel-indicators">
		<button type="button" data-target="#carouselMcm" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-target="#carouselMcm" data-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-target="#carouselMcm" data-slide-to="2" aria-label="Slide 3"></button>
		<button type="button" data-target="#carouselMcm" data-slide-to="3" aria-label="Slide 4"></button>
		<button type="button" data-target="#carouselMcm" data-slide-to="4" aria-label="Slide 5"></button>
		<button type="button" data-target="#carouselMcm" data-slide-to="5" aria-label="Slide 6"></button>
	</div>
	<div class="carousel-inner">
		{% include 'inc/carousel/frag_data_analytics.html.twig' %}
		{% include 'inc/carousel/frag_software_service.html.twig' %}
		{% include 'inc/carousel/frag_market_analysis.html.twig' %}
		{% include 'inc/carousel/frag_consultancy.html.twig' %}
		{% include 'inc/carousel/frag_app_development.html.twig' %}
		{% include 'inc/carousel/frag_web_development.html.twig' %}
	</div>
</div>
<!-- Service -->
<div class="service">
	<div class="container">
		<div class="d-flex">
			<div class="service-text">
				<h2 class="section-title">
					<span class="text-primary">Services</span><br><span class="text-black">We Provide</span>
				</h2>
				<p>With some of the Best Engineers in the business and 10 years of Experience on Our back, Macroman Solutions stand at a Unique Position to help you grow your business in the world of Modern Technology.
				</p>
			</div>
			<div class="service-image d-none d-sm-block">
				<img {{ img_attrs(asset('build/img/home/service_right_img.png')) }} alt="image here" class="img-fluid">
			</div>
		</div>
		<div id="services" class="row service-item-wrap">
			<!-- Data Analytics -->
			<div class="col-lg-6">
				<div class="service-item bg-white d-flex">
					<div class="service-icon flex-shrink-0 bg-primary-90">
						<img {{ img_attrs(asset('build/img/home/service_icon_1.png')) }} alt="icon here">
					</div>
					<div>
						<h4 class="">Data Analytics</h4>
						<p>With our cutting-edge Data Analytics Model, We can provide you with data point you never realized you needed so much for a successful business.</p>
					</div>
				</div>
			</div>
			<!-- Software as a Service -->
			<div class="col-lg-6">
				<div class="service-item bg-white d-flex">
					<div class="service-icon flex-shrink-0 bg-primary-50">
						<img {{ img_attrs(asset('build/img/home/service_icon_5.png')) }} alt="icon here">
					</div>
					<div>
						<h4 class="">Software as a Service</h4>
						<p>We have a uniquely qualified team that can build your next software as a service platform, Efficiently, ingenuously.</p>
					</div>
				</div>
			</div>
			<!-- Market Analysis -->
			<div class="col-lg-6">
				<div class="service-item bg-white d-flex">
					<div class="service-icon flex-shrink-0 bg-primary-50">
						<img {{ img_attrs(asset('build/img/home/service_icon_4.png')) }} alt="icon here">
					</div>
					<div>
						<h4 class="">Market Analysis</h4>
						<p>Every market is unique, Every Segment is unknown. We do in-depth market analysis to provide you with a details overview of the market.</p>
					</div>
				</div>
			</div>
			<!-- Consultancy -->
			<div class="col-lg-6">
				<div class="service-item bg-white d-flex">
					<div class="service-icon flex-shrink-0 bg-primary-90">
						<img {{ img_attrs(asset('build/img/home/service_icon_3.png')) }} alt="icon here">
					</div>
					<div>
						<h4 class="">Consultancy</h4>
						<p>Starting a new business? Want to Revamp your old Business? We have experts that have been helping people for years to grow their business to a new level.</p>
					</div>
				</div>
			</div>
			<!-- App Development -->
			<div class="col-lg-6">
				<div class="service-item bg-white d-flex">
					<div class="service-icon flex-shrink-0 bg-primary-90">
						<img {{ img_attrs(asset('build/img/home/service_icon_6.png')) }} alt="icon here">
					</div>
					<div>
						<h4 class="">App Development</h4>
						<p>In the days of a tiny Computer in your hand, you need to keep your game up, Put your business right into your Customers Hand.</p>
					</div>
				</div>
			</div>
			<!-- Web Development -->
			<div class="col-lg-6">
				<div class="service-item bg-white d-flex">
					<div class="service-icon flex-shrink-0 bg-primary-50">
						<img {{ img_attrs(asset('build/img/home/service_icon_2.png')) }} alt="icon here">
					</div>
					<div>
						<h4 class="">Web Development</h4>
						<p>From your Next Corporate Website to Your own eCommerce Shop, might as well be a marketing funnel, We got you covered.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- What makes different -->
<div class="what-different">
	<div class="container">
		<div class="what-different-content position-relative bg-white text-center">
			<h2 class="section-title">
				<span class="text-black">What Makes Us</span> <span class="text-primary">Different?</span>
			</h2>
			<p>Truth be told, we are a bunch of people who loves Technology and to build something amazing with it. In our heart we truly understand what it takes to cut through the noise and get the job done. Our team consists of experts from all over the world, having an average of 10 years of experience on their respective field. We take your business into consideration, the nitty gritty details noted and your passion understood.
			</p>

			<a href="#" class="btn btn-primary text-white btn-with-shadow font-weight-bold">Let's Talk</a>

			<div class="bottom-images">
				<img {{ img_attrs(asset('build/img/why_us_left.png')) }} class="img-fluid left-img position-absolute" alt="images here">
				<img {{ img_attrs(asset('build/img/why_us_right.png')) }} class="img-fluid right-img position-absolute" alt="images here">
			</div>
		</div>
	</div>
</div>
{% endblock %}