{% extends "base.html.twig" %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('res_accordionjs') }}
{% endblock %}
{% block body %}
	<div class="container">
		<h3 class="section-title">Ecommerce</h3>
		<nav class="d-none d-lg-block">
			<div class="nav nav-tabs responsive-tabs justify-content-center" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-hardware-cms-tab" data-bs-toggle="tab" data-bs-target="#nav-hardware-cms" type="button" role="tab" aria-controls="nav-hardware-cms" aria-selected="true">Hardware CMS</button>
				<button class="nav-link" id="nav-mcm-shop-tab" data-bs-toggle="tab" data-bs-target="#nav-mcm-shop" type="button" role="tab" aria-controls="nav-mcm-shop" aria-selected="false">MCM Shop</button>
			</div>
		</nav>
	</div>
	<div class="tab-content pt-64 responsive-tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active mb-3 mb-lg-0" id="nav-hardware-cms" role="tabpanel" aria-labelledby="nav-hardware-cms-tab" tabindex="0">

			<button class="btn btn-primary w-100 text-white text-start d-flex d-lg-none justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHardwareCMS" aria-expanded="true" aria-controls="collapseHardwareCMS">
				Hardware CMS
				<i class="fas fa-chevron-down icon-arrow"></i>
			</button>
			<div
				class="collapse show content-wrapper" id="collapseHardwareCMS">
				<!-- mcm solution -->
				<div class="row align-items-center mcm-solution">
					<div class="col-lg-6">
						<div>
							<h3 class="section-title">E-Com
								<span class="fw-bold text-primary">Mcm Shop</span>
								Solutions</h3>
							<p>Professional eCommerce website or online store or Woocommerce store will have the following features</p>

							<ul class="list-unstyled mb-4">
								<li>
									<i class="fas fa-check-circle text-primary icon-check me-1"></i>
									The website will be 100% response &amp; Secured</li>
								<li>
									<i class="fas fa-check-circle text-primary icon-check me-1"></i>
									Social Media Integration</li>
								<li>
									<i class="fas fa-check-circle text-primary icon-check me-1"></i>
									Mailchimp/ActiveCampaign/Aweber Integration</li>
								<li>
									<i class="fas fa-check-circle text-primary icon-check me-1"></i>
									Dynamic pricing, Abandon Cart</li>
								<li>
									<i class="fas fa-check-circle text-primary icon-check me-1"></i>
									Multi-Vendor Store, Dropshipping Store</li>
							</ul>

							<a href="#" class="btn btn-primary text-white">Start A Project</a>
						</div>
					</div>
					<div class="col-lg-6">
						<img {{ img_attrs(asset('build/img/software/mcm_shop_solution.png')) }} class="img-fluid w-100">
					</div>
				</div>

				<hr
				class="mb-64 mt-64">

				<!-- Feature of MCM Shop -->
				<div class="mcm-feature">
					<h3 class="section-title">Features of<br>
						<span class="text-primary fw-bold">Mcm Shop</span>
					</h3>
					<div class="row mt-64 mb-64 align-items-center">
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_minimal_design.png')) }} class="img-fluid w-100">
						</div>
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-list text-primary"></i>
							</div>
							<h4 class="mb-3">Minimal &amp; Modern Homepage Interface</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
					</div>

					<div class="row mt-64 mb-64 align-items-center">
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-filter text-primary"></i>
							</div>
							<h4 class="mb-3">Dynamic pricing, Abandon Cart</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_dynamic_pricing.png')) }} class="img-fluid w-100">
						</div>
					</div>

					<div class="row mt-64 mb-64 align-items-center">
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_dashboard.png')) }} class="img-fluid w-100">
						</div>
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-shapes text-primary"></i>
							</div>
							<h4 class="mb-3">User Friendly Dashboard</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
					</div>

					<div class="row mt-64 mb-64 align-items-center">
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-filter text-primary"></i>
							</div>
							<h4 class="mb-3">Add Products, Categories, Orders In One Place</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_order_in_one_place.png')) }} class="img-fluid w-100">
						</div>
					</div>

					<div class="row mt-64 mb-64 align-items-center">
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_check_and_manage_order.png')) }} class="img-fluid w-100">
						</div>
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-shapes text-primary"></i>
							</div>
							<h4 class="mb-3">Check and Manage Order List Easily</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
					</div>

					<div class="row mt-64 mb-64 align-items-center">
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-filter text-primary"></i>
							</div>
							<h4 class="mb-3">Easy to Order with Manual Payment Method</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_manual_payment_method.png')) }} class="img-fluid w-100">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade mb-3 mb-lg-0" id="nav-mcm-shop" role="tabpanel" aria-labelledby="nav-mcm-shop-tab" tabindex="0">
			<div class="container">
				<button class="btn btn-primary w-100 text-white text-start d-flex d-lg-none justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMCMShop" aria-expanded="false" aria-controls="collapseMCMShop">
					MCM Shop
					<i class="fas fa-chevron-down icon-arrow"></i>
				</button>
			</div>
			<div
				class="collapse content-wrapper" id="collapseMCMShop">
				<!-- mcm solution -->
				<div class="container">
					<div class="row align-items-center mcm-solution">
						<div class="col-lg-6">
							<div>
								<h3 class="section-title">E-Com
									<span class="fw-bold text-primary">Mcm Shop</span>
									Solutions</h3>
								<p>Professional eCommerce website or online store or Woocommerce store will have the following features</p>

								<ul class="list-unstyled mb-4">
									<li>
										<i class="fas fa-check-circle text-primary icon-check me-1"></i>
										The website will be 100% response &amp; Secured</li>
									<li>
										<i class="fas fa-check-circle text-primary icon-check me-1"></i>
										Social Media Integration</li>
									<li>
										<i class="fas fa-check-circle text-primary icon-check me-1"></i>
										Mailchimp/ActiveCampaign/Aweber Integration</li>
									<li>
										<i class="fas fa-check-circle text-primary icon-check me-1"></i>
										Dynamic pricing, Abandon Cart</li>
									<li>
										<i class="fas fa-check-circle text-primary icon-check me-1"></i>
										Multi-Vendor Store, Dropshipping Store</li>
								</ul>

								<a href="#" class="btn btn-primary text-white">Start A Project</a>
							</div>
						</div>
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_solution.png')) }} class="img-fluid w-100">
						</div>
					</div>
				</div>

				<hr
				class="mb-64 mt-64">

				<!-- Feature of MCM Shop -->
				<div class="mcm-feature container pb-64">
					<h3 class="section-title">Features of<br>
						<span class="text-primary fw-bold">Mcm Shop</span>
					</h3>
					<div class="row mt-64 mb-64 align-items-center">
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_minimal_design.png')) }} class="img-fluid w-100">
						</div>
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-list text-primary"></i>
							</div>
							<h4 class="mb-3">Minimal &amp; Modern Homepage Interface</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
					</div>

					<div class="row mt-64 mb-64 align-items-center">
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-filter text-primary"></i>
							</div>
							<h4 class="mb-3">Dynamic pricing, Abandon Cart</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_dynamic_pricing.png')) }} class="img-fluid w-100">
						</div>
					</div>

					<div class="row mt-64 mb-64 align-items-center">
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_dashboard.png')) }} class="img-fluid w-100">
						</div>
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-shapes text-primary"></i>
							</div>
							<h4 class="mb-3">User Friendly Dashboard</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
					</div>

					<div class="row mt-64 mb-64 align-items-center">
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-filter text-primary"></i>
							</div>
							<h4 class="mb-3">Add Products, Categories, Orders In One Place</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_order_in_one_place.png')) }} class="img-fluid w-100">
						</div>
					</div>

					<div class="row mt-64 mb-64 align-items-center">
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_check_and_manage_order.png')) }} class="img-fluid w-100">
						</div>
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-shapes text-primary"></i>
							</div>
							<h4 class="mb-3">Check and Manage Order List Easily</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
					</div>

					<div class="row mt-64 align-items-center">
						<div class="col-lg-6">
							<div class="badge mb-4 d-flex justify-content-center align-items-center">
								<i class="fas fa-filter text-primary"></i>
							</div>
							<h4 class="mb-3">Easy to Order with Manual Payment Method</h4>
							<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>
						</div>
						<div class="col-lg-6">
							<img {{ img_attrs(asset('build/img/software/mcm_shop_manual_payment_method.png')) }} class="img-fluid w-100">
						</div>
					</div>
				</div>

				<!-- Development Process -->
				<div class="development-process bg-secondary py-64">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-4">
								<h3 class="section-title text-white mb-0">Development
									<span class="fw-bold">Process</span>
								</h3>
							</div>
							<div class="col-lg-8">
								<div class="row">
									<div class="col-md-3">
										<div class="bg-primary rounded-2 d-flex flex-column justify-content-center align-items-center item w-100">
											<div class="content">
												<i class="fas fa-copy text-white"></i>
												<h6 class="fw-normal text-white mb-0">Consultation</h6>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="bg-primary rounded-2 d-flex flex-column justify-content-center align-items-center item w-100">
											<div class="content">
												<i class="fas fa-sticky-note text-white"></i>
												<h6 class="fw-normal text-white mb-0">Research</h6>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="bg-primary rounded-2 d-flex flex-column justify-content-center align-items-center item w-100">
											<div class="content">
												<i class="fas fa-code text-white"></i>
												<h6 class="fw-normal text-white mb-0">Development</h6>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="bg-primary rounded-2 d-flex flex-column justify-content-center align-items-center item w-100">
											<div class="content">
												<i class="fas fa-newspaper text-white"></i>
												<h6 class="fw-normal text-white mb-0">Final Site</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- under the hood -->
				<div class="under-the-hood py-64">
					<div class="container">
						<div class="row">
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-4 mb-4">
										<div class="item">
											<div class="content bg-white">
												<img {{ img_attrs(asset('build/img/common/icon_php.png')) }} class="" alt="logos here">
												<h6 class="mb-0">Php</h6>
											</div>
										</div>
									</div>
									<div class="col-lg-4 mb-4">
										<div class="item">
											<div class="content bg-white">
												<img {{ img_attrs(asset('build/img/common/icon_symfony.png')) }} class="" alt="logos here">
												<h6 class="mb-0">Symfony</h6>
											</div>
										</div>
									</div>
									<div class="col-lg-4 mb-4">
										<div class="item">
											<div class="content bg-white">
												<img {{ img_attrs(asset('build/img/common/icon_nodejs.png')) }} class="" alt="logos here">
												<h6 class="mb-0">Nodejs</h6>
											</div>
										</div>
									</div>
									<div class="col-lg-4 mb-4">
										<div class="item">
											<div class="content bg-white">
												<img {{ img_attrs(asset('build/img/common/icon_webpack.png')) }} class="" alt="logos here">
												<h6 class="mb-0">Webpack</h6>
											</div>
										</div>
									</div>
									<div class="col-lg-4 mb-4">
										<div class="item">
											<div class="content bg-white">
												<img {{ img_attrs(asset('build/img/common/icon_docker.png')) }} class="" alt="logos here">
												<h6 class="mb-0">Docker</h6>
											</div>
										</div>
									</div>
									<div class="col-lg-4 mb-4">
										<div class="item">
											<div class="content bg-white">
												<img {{ img_attrs(asset('build/img/common/icon_twig.png')) }} class="" alt="logos here">
												<h6 class="mb-0">Twig</h6>
											</div>
										</div>
									</div>
									<div class="col-lg-4 mb-4">
										<div class="item">
											<div class="content bg-white">
												<img {{ img_attrs(asset('build/img/common/icon_bootstrap.png')) }} class="" alt="logos here">
												<h6 class="mb-0">Bootstrap</h6>
											</div>
										</div>
									</div>
									<div class="col-lg-4 mb-4">
										<div class="item">
											<div class="content bg-white">
												<img {{ img_attrs(asset('build/img/common/icon_sass.png')) }} class="" alt="logos here">
												<h6 class="mb-0">Sass</h6>
											</div>
										</div>
									</div>
									<div class="col-lg-4 mb-4">
										<div class="item">
											<div class="content bg-white">
												<img {{ img_attrs(asset('build/img/common/icon_stimulus.png')) }} class="" alt="logos here">
												<h6 class="mb-0">Stimulus</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<h3 class="section-title mb-3">Under The Hood</h3>
								<p>As a Financial Technology startup, Finch needed to establis itself as a brand from the ground up. They started securing a name and identifying customer personas, then brought on eDesign.</p>

								<img {{ img_attrs(asset('build/img/software/mcm_shop_under_the_hood.png')) }} class="img-fluid w-100">
							</div>
						</div>
					</div>
				</div>

				<!-- start project -->
				<div class="start-project">
					<div class="container">
						<div class="row">
							<div class="col-lg-6">
								<h3 class="section-title mb-3">
									<span class="fw-bold text-primary">Start Your Project</span>
									Today</h3>
								<p>We will contact you within 30 minutes to arrange an
																		                initial discussion.</p>
								<img {{ img_attrs(asset('build/img/software/mcm_shop_start_project.png')) }} class="" alt="logos here">
							</div>
							<div class="col-lg-6">
								<div class="form-wrap bg-white p-64 rounded-15">
									<div class="row g-4">
										<div class="col-md-6">
											<input type="text" class="form-control" placeholder="First name" aria-label="First name">
										</div>
										<div class="col-md-6">
											<input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
										</div>
										<div class="col-12">
											<input type="email" class="form-control" placeholder="Email" aria-label="Email">
										</div>
										<div class="col-12">
											<input type="text" class="form-control" placeholder="Company" aria-label="Company">
										</div>
										<div class="col-12">
											<input type="text" class="form-control" placeholder="Subject" aria-label="Subject">
										</div>
										<div class="col-12">
											<textarea class="form-control" placeholder="How can we help you?" id="floatingTextarea2" style="height: 100px"></textarea>
										</div>
										<div class="col-12">
											<button class="btn btn-primary w-100 text-white">Speak With A Expert</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
