<div class="what-clients-saying {{ wrapperClass }}">
	<div class="container">
		<div class="row flex-column-reverse flex-lg-row">
			<div class="col-lg-6 pt-5">
        <h3 class="section-title">{{ title | raw }}</h3>
				<p class="mb-3 mb-lg-5 {{ subtitleClass}}">{{ subtitle }}</p>
				{# <a href="/" class="btn btn-mcm-outline">See More
					<i class="fas fa-chevron-right ms-3"></i>
				</a> #}
			</div>
			<div class="col-lg-6 mb-5 mb-lg-0">
				<div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false"
					data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
							class="active" aria-current="true" aria-label="Slide 1"><img {{
								img_attrs(asset('build/img/praises/avatar_male.png')) }} class="img-fluid"
								alt="images here"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
							aria-label="Slide 2"><img {{ img_attrs(asset('build/img/praises/avatar_male.png')) }}
								class="img-fluid" alt="images here"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
							aria-label="Slide 3"><img {{ img_attrs(asset('build/img/praises/avatar_male.png')) }}
								class="img-fluid" alt="images here"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
							aria-label="Slide 4"><img {{ img_attrs(asset('build/img/praises/avatar_male.png')) }}
								class="img-fluid" alt="images here"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
							aria-label="Slide 5"><img {{ img_attrs(asset('build/img/praises/avatar_male.png')) }}
								class="img-fluid" alt="images here"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
							aria-label="Slide 6"><img {{ img_attrs(asset('build/img/praises/avatar_male.png')) }}
								class="img-fluid" alt="images here"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
							aria-label="Slide 7"><img {{ img_attrs(asset('build/img/praises/avatar_female.png')) }}
								class="img-fluid" alt="images here"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="card text-center border-0 rounded-3">
								<div class="avatar mb-2">
									<img {{ img_attrs(asset('build/img/praises/avatar_male.png')) }} class="img-fluid"
										alt="images here">
								</div>
								<p class="text-primary text-uppercase fw-bolder mb-0">Alvin Nicholas</p>
								<p>
									<small class="text-uppercase">CEO / Founder</small>
								</p>
								<blockquote class="blockquote mb-0">
									I love how Macroman Solution provides dedicated professionals for all web development needs. I have had my website built by them and they did a great job. They were very patient with me as I constantly asked questions and got feedback on every step of the process. My website is now up and running, so what more can you ask for? I highly recommend this company to anyone who wants professional work done in their field, be it building websites or almost anything.
								</blockquote>
							</div>
						</div>

						<div class="carousel-item">
							<div class="card text-center border-0 rounded-3">
								<div class="avatar mb-2">
									<img {{ img_attrs(asset('build/img/praises/avatar_male.png')) }} class="img-fluid"
										alt="images here">
								</div>
								<p class="text-primary text-uppercase fw-bolder mb-0">Chris</p>
								<p>
									<small class="text-uppercase">CEO / Founder</small>
								</p>
								<blockquote class="blockquote mb-0">
									Macroman Solution has been providing me with quality NFT Solutions for a long time. I always receive high-quality services and the dedication that they have to their clients is unbelievable. They are very professional, yet personal and friendly at the same time. The quality of work they provide is top notch and I highly recommend them to anyone who needs help with an NFT solution.
								</blockquote>
							</div>
						</div>

						<div class="carousel-item">
							<div class="card text-center border-0 rounded-3">
								<div class="avatar mb-2">
									<img {{ img_attrs(asset('build/img/praises/avatar_male.png')) }} class="img-fluid"
										alt="images here">
								</div>
								<p class="text-primary text-uppercase fw-bolder mb-0">Brian Kim</p>
								<p>
									<small class="text-uppercase">CEO / Founder</small>
								</p>
								<blockquote class="blockquote mb-0">
									This is a great landing page service provider, who's always been on-time and reliable. They have some really unique features that help you to create an awesome-looking website for your business or any other need you may have. I have already acquired many of their services so far such as landing Page, SaaS Platform Development, and Custom Analytics Platform. I highly recommend Macroman Solution to anyone needing a good quality website done professionally and at a reasonable price!
								</blockquote>
							</div>
						</div>

						<div class="carousel-item">
							<div class="card text-center border-0 rounded-3">
								<div class="avatar mb-2">
									<img {{ img_attrs(asset('build/img/praises/avatar_male.png')) }} class="img-fluid"
										alt="images here">
								</div>
								<p class="text-primary text-uppercase fw-bolder mb-0">Holly Moralis</p>
								<p>
									<small class="text-uppercase">CEO / Founder</small>
								</p>
								<blockquote class="blockquote mb-0">
									 I have been using Macroman Solution's services for over 6 months now and they are always there to help me. I am a real estate agent in my home country of USA, so when I started working with them, it was important that they understand the needs of people here because our market is very different from what most agents use in the US. They responded quickly to all my questions and made sure everything was done properly. The fraud detection system has helped me tremendously since we do not have many buyers or sellers on this side of the world. It really helps us identify who is selling properties without their knowledge or consent as well as helping us keep track of expenses associated with buying or selling a property including taxes, registration fees, etc.
								</blockquote>
							</div>
						</div>

						<div class="carousel-item">
							<div class="card text-center border-0 rounded-3">
								<div class="avatar mb-2">
									<img {{ img_attrs(asset('build/img/praises/avatar_male.png')) }} class="img-fluid"
										alt="images here">
								</div>
								<p class="text-primary text-uppercase fw-bolder mb-0">Arvind Desuza</p>
								<p>
									<small class="text-uppercase">CEO / Founder</small>
								</p>
								<blockquote class="blockquote mb-0">
									 I was looking for a company that could help me develop an app. I came across Macroman Solution and they had the best quality of service. They are very dedicated to their work and were able to complete my project in no time at all! My app turned out amazing, just as I wanted it. Their expertise really shows through in their work. It's a pleasure working with them because they take pride in what they do and make sure you're happy with your product from start to finish. They go above and beyond when it comes to customer satisfaction, which is important since we spend so much money on our projects sometimes.
								</blockquote>
							</div>
						</div>

						<div class="carousel-item">
							<div class="card text-center border-0 rounded-3">
								<div class="avatar mb-2">
									<img {{ img_attrs(asset('build/img/praises/avatar_male.png')) }} class="img-fluid"
										alt="images here">
								</div>
								<p class="text-primary text-uppercase fw-bolder mb-0">John Harris</p>
								<p>
									<small class="text-uppercase">CEO / Founder</small>
								</p>
								<blockquote class="blockquote mb-0">
									 Macroman Solution has built a great streaming platform for me. It is very easy to use and it's the most amazing service I have ever used and has a lot of features that I appreciate, like its support for multiple streaming channels in one interface. The support team is also super helpful. The platform also supports all types of devices such as computers, smartphones and tablets which makes it even more flexible than other similar platforms available on the market today.
								</blockquote>
							</div>
						</div>

						<div class="carousel-item">
							<div class="card text-center border-0 rounded-3">
								<div class="avatar mb-2">
									<img {{ img_attrs(asset('build/img/praises/avatar_female.png')) }} class="img-fluid"
										alt="images here">
								</div>
								<p class="text-primary text-uppercase fw-bolder mb-0">Ginny Francoise</p>
								<p>
									<small class="text-uppercase">CEO / Founder</small>
								</p>
								<blockquote class="blockquote mb-0">
									 I have been looking for a service provider to help me with the development of my Web3 application. I have contacted several companies and got different quotes from them but none of them has been able to provide me with what I was looking for. Macroman Solution provided NFT Marketplace Development service for me and they did an excellent job in developing it at affordable prices. I'm very satisfied with their services and would recommend this company to anyone who is searching for a reliable developer that can develop quality software on time within budgeted cost
								</blockquote>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
						data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
						data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>