<ul class="list-inline logos {{ wrapperClass }}">
  <li class="list-inline-item">
    <a href="/" class=""><img {{ img_attrs(asset('build/img/common/logo_hisab.png')) }}
        class="img-fluid" alt="images here"></a>
  </li>
  <li class="list-inline-item">
    <a href="/" class=""><img {{ img_attrs(asset('build/img/common/logo_metfx.png')) }}
        class="img-fluid" alt="images here"></a>
  </li>
  <li class="list-inline-item">
    <a href="/" class=""><img {{ img_attrs(asset('build/img/common/logo_the_future_lounge.png')) }}
        class="img-fluid" alt="images here"></a>
  </li>
  <li class="list-inline-item">
    <a href="/" class=""><img {{ img_attrs(asset('build/img/common/logo_jano.png')) }} class="img-fluid"
        alt="images here"></a>
  </li>
</ul>